<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="css/abstyle.css">
</head>

<body>
    <header>
       {{>navbar}}

    </header>
    <div class="wrapper">
        <div class="up-center">
            <h3 class="up">About Us</h3>
            <p class="up2">Welcome to JKB Educational Institute, the epitome of excellence and empowerment in the field
                of
                engineering
                education in India.
                Led by the visionary director and esteemed tutor, Mr. Vinayak Shete, we are driven by a singular mission
                to
                uplift and empower the
                country's youth. Since our establishment in 2011, we have continuously evolved, creating a nurturing
                environment and providing
                outstanding facilities for our students' holistic development.
            </p>
        </div>
        <!-- <div class="images">
            <img id="img1" src="./images/AU1.png" alt="">
            <img id="img2" src="./images/AU2.png" alt="">
        </div> -->

        <div class="about-us-grid">
            <div class="card">
                <div class="card-content">
                    <div> <img src="./images/AU.png" alt="Image 1"></div>
                    <div class="orange">
                        Prof Vinayak Shete <br>
                        Director
                        <p class="grey">Mr. Vinayak Shete, the visionary director and esteemed lecturer at JKB
                            Educational & IT
                            Services , has positively influenced the lives of thousands of aspiring engineers with his
                            vast teaching experience and deep-rooted passion for yoga and meditation.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div> <img src="./images/AU.png" alt="Image 1"></div>
                    <div class="orange">
                        Prof N H DUbey<br>
                        Author
                        <p class="grey">Prof. N H Dubey is a renowned Author who has written many textbooks like Engg. Mechanics, and Engg. Drawing/Graphics. With his vast teaching experience and expertise, he has left a lasting 
                        impact on the engineering journey of numerous students. </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div> <img src="./images/AU.png" alt="Image 1"></div>
                    <div class="orange">
                        Ms Poonam <br>
                        Director
                        <p class="grey">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat perspiciatis repellat, incidunt facere ullam error quo quae ipsam omnis quis, iste, officia deleniti optio tenetur. 
                            Debitis non natus nesciunt odit.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div> <img src="./images/AU.png" alt="Image 1"></div>
                    <div class="orange">
                        Anmol More <br>
                        Professor
                        <p class="grey">Amol Mane, an Engineering Graduate from VJTI, Mumbai is an expert faculty who provides coaching for 1st year Engg. subjects and competitive exams like GATE. Moreover, he is a
                             working professional in the construction industry.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div> <img src="./images/AU.png" alt="Image 1"></div>
                    <div class="orange">
                        Abhishek Satre <br>
                        Sr Manager (Full Stack Dev)
                        <p class="grey">Abhishek Satre is a Sr. Manager having 6+ years of working experience in the IT industry as a Full-Stack Web Developer. 
                            He is a master trainer for the Industrial Courses at JKB.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div> <img src="./images/AU.png" alt="Image 1"></div>
                    <div class="orange">
                        Anand Dubey <br>
                        Sr Manager (Mobile App Dev)
                        <p class="grey">Anand Dubey is a working IT professional and 
                            an expert Mobile Application Developer. Moreover, he is a master trainer for the Industrial Courses at JKB. </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="aftertext">
            <p>At JKB, we believe in delivering the best learning experiences with renowned authors like Prof. N H
                Dubey, ensuring comprehensive study materials and ample growth opportunities for our students. With Mr.
                Vinayak Shete's vast teaching experience, we have positively influenced the lives of thousands of
                aspiring engineers. Moreover, as a testament to our commitment to excellence, we cater to the needs of
                studying various programming languages and offer corporate linguistic training.

                Beyond academics, we embrace spirituality and mindfulness. Mr. Vinayak Shete is actively associated with
                The Art Of Living Foundation and serves as a dynamic youth teacher at the AOL. His deep-rooted passion
                for yoga and meditation resonates within the fabric of our institute, fostering a harmonious and
                balanced educational experience.

                As you explore our website, you will witness the remarkable success stories that our institute has
                nurtured, leaving an indelible mark on the educational landscape. Join us at JKB Educational Institute,
                where knowledge meets inspiration, and dreams turn into reality. Together, Let Us Embark on a
                Transformative Journey of Education and Empowerment.
            </p>
        </div>
    </div>

</body>

</html>