<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>startup</title>
   <link rel="stylesheet" href="css/itstyle.css">

</head>

<body>
    <nav>
        <div class="start">JKB edu.</div>
        <div class="icons">
            <div><a href="https://in.linkedin.com/company/jkb-education-group?trk=public_profile_topcard-current-company"
                    target="_blank"><img src="./images/linkedin.png" width="50" height="45"></a></div>
            <div><a href="tel:+919768455222" target="_blank"><img src="./images/whatsapp.png" width="50"
                        height="45"></a></div>
            <div><a href="https://www.youtube.com/channel/UC0lmhygv8wJTQbVjF-6QUVg" target="_blank"><img
                        src="./images/youtube.png" width="50" height="45"></a></div>
            <div><a href="https://www.instagram.com/jkb_education_group/" target="_blank"><img
                        src="./images/instagram.png" width="50" height="45"></a></div>
        </div>
    </nav>
    <div class="first">
        <div class="firstright">Best choice for your<br>
            <p class="bold"> startup.<br></p>
            <p class="small">The full set of services around development and<br>
                maintenance of complex business-critical applications.</p>
        </div>
        <div class="firstleft">
            <img src="./images/laptop.png">
        </div>
    </div>
    <div class="cards">
        <div class="sports">
            <div class="img"><img src="./images/sports.png" width="80" height="70"></div>
            <div class="word">Sports</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam gravida, nulla a pulvinar dictum,nisi leo bibendum sapien.</div>
        </div>
        <div class="edu">
            <div class="img"><img src="./images/education.png" width="80" height="70"></div>
            <div class="word">Education</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam gravida, nulla a pulvinar dictum,nisi leo bibendum sapien.</div>

        </div>

        <div class="comm">
            <div class="img"><img src="./images/e-commerce.png" width="80" height="70"></div>
            <div class="word">E-Commerce</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam gravida, nulla a pulvinar dictum,nisi leo bibendum sapien.</div>
        </div>

        <div class="agri">
            <div class="img"><img src="./images/agriculture.png" width="80" height="70"></div>
            <div class="word">agriculture</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam gravida, nulla a pulvinar dictum,nisi leo bibendum sapien.</div>
        </div>


    </div>
    <div class="second">
        <div class="secondright">
            <img src="./images/solution.png">
        </div>
        <div class="secondleft">We provide<br>
            <p class="one">Highly-tailored IT solutions. <br></p>
            <p class="two">For your very specific industry, we have highly-tailored <br>
                IT solutions.</p>
        </div>
    </div>


    <div class="boxes">
        <div class="boxes-text ">React JS</div>
        <div class="boxes-text ">Kotlin</div>
        <div class="boxes-text ">Java</div>
        <div class="boxes-text ">Dart</div>
        <div class="boxes-text ">pHP</div>
        <div class="boxes-text ">Flutter</div>
        <div class="boxes-text ">SwiftUI</div>
        <div class="boxes-text ">python</div>

    </div>
</body>

</html>