<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>{{ title }}</h1>

    <a href="/courses/engineering-adminssion">Engineerig Admisison</a>
    <a href="/courses/1st-year">1 St Year</a>

    <ul>
        {{{ videoList }}}
    </ul>
</body>
</html>